<div id="page-content">
    <h1 class="text-center mt-4">Friend Requests</h1>
    <div class="container">
                <div class="row justify-content-md-center" >
                    <% @user=User.find_by(id:@friend.receiver_id) %>
                    <div class="card" style="width: 18rem;">
                        <% if @user.avatar.attached? %>
                            <%= image_tag(@user.avatar_thumbnail) %>
                        <% else %>    
                            <%= image_tag("defualt.png", style:'width:30%') %>
                        <% end %> 
                        <div class="card-body">
                            <h5 class="card-title">From: <%=@user.email %></h5>
                            <%= link_to "Accept", root_path, class:"btn btn-outline-success" %>
                            <%= link_to "Decline", friend_path(@friend), class:"btn btn-outline-danger", method: :delete, data: {confirm:"Are you sure?"}  %>
                        </div>
                    </div>

                    </div>
                <br/>
    </div>
</div>