<div id="page-content">
<h1 class="text-center mt-4">Search Results</h1>
<div class="container">
<% if @users.count==0 %>
    <br/><br/><br/><br/><h3 class="row justify-content-md-center"> No result found! <h3>
<% else %>
<% @users.each do |user| %>
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                    <%= user.email.split("@")[0].capitalize %><br/>
                    <% if user.avatar.attached? %>
                        <%= image_tag(user.avatar_thumbnail) %>
                    <% else %>    
                        <%= image_tag("defualt.png", style:'width:30%') %>
                    <% end %>    
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= pluralize(user.posts.count,"Post") %></h5>
                    <%= link_to "View Profile", user_path(user), class: "btn btn btn-outline-success" %>
                </div>
        <div class="card-footer text-muted">
            <small>
            Joined <%= time_ago_in_words(user.created_at) %> ago
            </small>
        </div>
            </div>
        </div>
    </div>
<% end %>
<% end %>   
</div>
</div>