<div id="page-content">
<h1 class="text-center mt-4"><%= @user.email.split("@")[0].capitalize %> 's Profile</h1>
<div class="container">
  <div class="row justify-content-md-center" >
    <div class="card" style="width: 25rem;">
        <% if @user.avatar.attached? %>
            <%= image_tag(@user.avatar_thumbnail) %>
        <% else %>    
            <%= image_tag("defualt.png", style:'width:30%') %>
        <% end %>

        <div class="card-body">
            <h5 class="card-title">Total Posts : <%= @user.posts.count %></h5>
            <% @user.posts.each do |post| %>
                <%= link_to post.title, post_path(post) %><br/>
            <% end %>    
            <br/>
            <% if @user==current_user %>
                <%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-outline-primary" %>
            <% end %>  
            
            <% if @user!=current_user %>
                <%= link_to 'Send Friend Request',root_path, class:"btn btn-outline-success" %>
            <% end %>    
        </div>
    </div>

  </div>  
</div>
</div>