<div class="page-content">
  <h1 class="text-center mt-4"> Listing all the Posts </h1>

  <div class="container">
    <% @posts.each do|post| %>
      <% if !post.private? || post.user==current_user %>
        <div class="row justify-content-md-center mt-4">
          <div class="">
            <div class="card" style="width: 28rem;">
              <%= link_to image_tag(post.image,style:'width:100%'),post_path(post) %>
              <div class="card-body">
                <h5 class="card-title text-center"><%= post.title %></h5>
                <p class="card-text text-center"><%= post.description %></p>

                <div class="font-italic mt-2 text-center">
                  <button type="button" class="btn btn-primary">
                    Comments <span class="badge badge-light"><%= post.comments.count %></span>
                  </button>
                  <%#<button type="button" class="btn btn-primary">
                    Likes <span class="badge badge-light">9</span>
                  </button>#%>
                </div>

                <div class="mt-4 text-center">
                  <%= link_to 'View',post_path(post),class:"btn btn-outline-success"%>

                  <% if post.user==current_user %>
                    <%= link_to 'Edit',edit_post_path(post),class:"btn btn-outline-primary" %>
                    <%= link_to 'Delete',post_path(post),class:"btn btn-outline-danger",method: :delete, data: {confirm:"Are you sure?"} %>
                  <% end %>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>

